.container{
    display: flex;
    flex-flow: column;
}

.container-row{
    display: flex;
}

.container *{
    display: flex;
    justify-content: center;
}

.cats{
    margin-top: 5%;
}

.list{
    width: 10%;
}

.area{
    width: 90%;
}

.cat-area{
    height: 50vh;
    cursor: pointer;
    margin: 0  auto;
}