.container{
    display: flex;
    flex-flow: column;
}

.container-row{
    display: flex;
}

.container h1 , .container .cats ,
.container .cat-name , .container .cat-counter,
.container .cat-area {
    display: flex;
    justify-content: center;
}

.cats{
    margin-top: 5%;
}

.list{
    width: 10%;
}

.area{
    width: 90%;
}

.cat-area{
    height: 50vh;
    cursor: pointer;
    margin: 0  auto;
}

li{
    cursor: pointer;
    margin-top: 2%;
}

button{
    width: 70px;
}

.admin *{
    margin-top: 3px;
}

.admin-section {
    margin: auto;
    margin-top: 3%;
}

.admin{
    display: none;
}